@charset "UTF-8";

:root{
    --color1: #f8ffe5 ; 
    --color2: #06d6a0 ;
    --color3: #1b9aaa; 
    --color4: #ef476f ;
    --color5: #ffc43d ; 
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--color3);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: white;
    width: 250px;
    height: 530px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*Tudo que estiver fora da borda fica escondido*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease; 
}

section#login > div#img{
    display: block;
    background: #1b9aaa url(../imagens/pexels-olga-lioncat-7245308.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#form{
    padding: 10px;
    display: block;
}
p{
    margin: 10px;
}
#iemail, #isenha {
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0.384);
}

.button{
    background-color: #3DD1E7;
    border-radius: 20px;
    border: none;
    padding: 8px;
    width: 100px;
    margin:  10px auto;
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    display: inline-block;
 }

 
.button:hover{
    background-image: linear-gradient(to top, #1b9aaa,  #06d6a0, #ffc43d, #ef476f);    
}

div#form > h1 {
    text-align: center;
}

.link{
    text-decoration: none;
    font-size: 1rem;

    
}

.link:hover{
    text-decoration: underline;
}

/*tablet*/
@media screen  and (min-width:768px ) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #1b9aaa,  #06d6a0, #ffc43d, #ef476f);

    }
    section#login{
        width: 80vw;

    }
    section#login > div#img{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#form{
        float: right;
        width: 70%;
        height: 100%;
    }
    #iemail, #isenha {
        padding: 10px;
        margin: 5px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.384);
        width: 75%;
        margin-left: 40px;
    }

    .button{
        display: inline-block;
        margin-top: 100px;
        width: 200px;
    }

    #signup{
        margin-left: 40px;
    }

    h1, p {
        margin-top: 40px;
        margin-left: 40px;
    }
    
    
}

@media screen  and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #1b9aaa,  #06d6a0, #ffc43d, #ef476f);
    }
    section#login{
        width: 950px;

    }
    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#form{
        float: left;
        width: 50%;
    }

    #iemail, #isenha {
        padding: 10px;
        margin: 5px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.384);
        width: 80%;
        margin-left: 40px;
    }

    .button{
        display: inline-block;
        margin-top: 100px;
        width: 200px;
    }

    #signup{
        margin-left: 40px;
    }

    h1, p {
        margin-top: 40px;
        margin-left: 40px;
    }
    
}